// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 💻  Project   : Responsive Login/Register UI
// 🧑‍💻  Author    : Rahul Mondal
// 🔗  GitHub    : github.com/isyrae
// 💬  Telegram  : t.me/isyrae
// 📜  License   : MIT – Share with love 💖
// 🎨  UI Vibe   : Soft, modern & aesthetic ✨
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 💻  Project   : Responsive Login/Register UI
// 🧑‍💻  Author    : Rahul Mondal
// 🔗  GitHub    : github.com/isyrae
// 💬  Telegram  : t.me/isyrae
// 📜  License   : MIT – Share with love 💖
// 🎨  UI Vibe   : Soft, modern & aesthetic ✨
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

body,
input,
button{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 💻  Project   : Responsive Login/Register UI
// 🧑‍💻  Author    : Rahul Mondal
// 🔗  GitHub    : github.com/isyrae
// 💬  Telegram  : t.me/isyrae
// 📜  License   : MIT – Share with love 💖
// 🎨  UI Vibe   : Soft, modern & aesthetic ✨
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

body{
	background-color: var(--body-color);
	color: var(--text-color);
}
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 💻  Project   : Responsive Login/Register UI
// 🧑‍💻  Author    : Rahul Mondal
// 🔗  GitHub    : github.com/isyrae
// 💬  Telegram  : t.me/isyrae
// 📜  License   : MIT – Share with love 💖
// 🎨  UI Vibe   : Soft, modern & aesthetic ✨
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

input,
button{
	border: none;
	outline: none;
}
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 💻  Project   : Responsive Login/Register UI
// 🧑‍💻  Author    : Rahul Mondal
// 🔗  GitHub    : github.com/isyrae
// 💬  Telegram  : t.me/isyrae
// 📜  License   : MIT – Share with love 💖
// 🎨  UI Vibe   : Soft, modern & aesthetic ✨
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

a{
	text-decoration: none;
}
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 💻  Project   : Responsive Login/Register UI
// 🧑‍💻  Author    : Rahul Mondal
// 🔗  GitHub    : github.com/isyrae
// 💬  Telegram  : t.me/isyrae
// 📜  License   : MIT – Share with love 💖
// 🎨  UI Vibe   : Soft, modern & aesthetic ✨
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

img{
	display: block;
	max-width: 100%;
	height: auto;
}
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 💻  Project   : Responsive Login/Register UI
// 🧑‍💻  Author    : Rahul Mondal
// 🔗  GitHub    : github.com/isyrae
// 💬  Telegram  : t.me/isyrae
// 📜  License   : MIT – Share with love 💖
// 🎨  UI Vibe   : Soft, modern & aesthetic ✨
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
